<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h2 class="text-center">Edit <%= @company.name%></h2>
      <%= simple_form_for(@company) do |f| %>
        <%= f.input :name, disabled: true, hint: 'You cannot change this field' %>
        <%= f.input :description %>
        <%= f.input :logo %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h2 class="text-center">Add users for <%= @company.name%></h2>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :email %>
        <%= f.input :role %>
        <%= f.hidden_field :company_id, value: @company.id %>
        <%= f.submit "Send invitation" %>
      <% end %>
    </div>
  </div>
</div>
