<div class="form-page">
  <div class="form-card">

    <h2 class="text-center">Edit <%= @company.name %></h2>

    <%= simple_form_for(@company) do |f| %>
      <%= f.input :name, disabled: true, hint: 'You cannot change this field' %>
      <%= f.input :description %>

      <%= f.input :logo do %>
        <% if @company.logo.attached? %>
          <div class="form-logo-preview mb-3">
            <%= cl_image_tag @company.logo.key,
              height: 100,
              crop: :limit,
              class: "img-fluid rounded" %>
          </div>
        <% end %>

        <%= f.file_field :logo, class: "form-control" %>
      <% end %>

      <%= f.submit "Update Company", class: "btn form-btn" %>
    <% end %>

  </div>

  <div class="form-card mt-4">

      <h2 class="text-center">Add users for <%= @company.name%></h2>
      <%= simple_form_for(@user, url: users_path) do |f| %>
        <%= f.input :email %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :role, as: :select, collection: [["Manager", "manager"], ["Junior", "junior"]] %>
        <%= f.hidden_field :company_id, value: @company.id %>
        <%= f.submit "Send invitation" %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
    <%= link_to "Back", company_path(@company.id), class: "btn btn-outline-secondary" %>
</div>
