<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">

      <h2 class="text-center">New Company</h2>
      <%= simple_form_for(@company) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :logo %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
