<h1><%= @company.name%></h1>
<p><%= @company.logo%></p>
<h1><%= @company.description%></h1>
<p> list of employees </p>
<ul>
  <% @company.users.each do |user| %>
    <li><%= user.first_name%></li>
  <%end%>
</ul>

<%= link_to "Edit", edit_company_path%>
<%= link_to "Back", companies_path%>
