<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">Edit <%= @report.title%></h2>

      <form action="<%= report_report_entries_path(@report) %>" method="post">
        <% @report.report_template.template_entries.each_with_index do |template_entry, index| %>
          <%# Find the already-saved entry for this label, if it exists %>
          <% existing_entry = @report.report_entries.find { |e| e.label == template_entry.label } %>

          <div class="form-group">
            <label><%= template_entry.label %></label>
            <input type="hidden"
                  name="report_entries[<%= index %>][label]"
                  value="<%= template_entry.label %>">
            <input class="form-control" type="text"
                  name="report_entries[<%= index %>][value_text]"
                  value="<%= existing_entry&.value_text %>">
          </div>
        <% end %>

        <button type="submit" class="btn btn-primary">Save All Entries</button>
      </form>
    </div>
  </div>
</div>
