<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">Edit <%= @report.title%></h2>

      <form action="<%= report_report_entries_path(@report) %>" method="post">
        <% @report.report_template.template_entries.each_with_index do |template_entry, index| %>
          <div class="form-group">
            <label><%= template_entry.label %></label>
            <input class="form-control" type="hidden"
                   name="report_entries[<%= index %>][label]"
                   id="report_entry_label<%= index %>" type='hidden' value="<%= template_entry.label %>">
            <input class="form-control" type="text"
                   name="report_entries[<%= index %>][value_text]"
                   id="report_entry_<%= index %>">

          </div>
        <% end %>

        <button type="submit" class="btn btn-primary">Save All Entries</button>
      </form>
    </div>
  </div>
</div>
